<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Productos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <div class="container">
        <h1 class="blue-text">Productos</h1>


        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Detalles</th>
                </tr>
            </thead>

            <tbody>

                {% for x in prod %}
                <tr>
                    <td>{{x.nombre}}</td>
                    <td>{{x.cantidad}}</td>
                    <td>{{x.precio}}</td>
                    <td><a href="/details/{{x.id}}">Ver mas</a></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="/" class="btn btn-primary blue">Cerrar sesion</a>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>